<div class="d-flex flex-row justify-content-center">
<h1 class="inputAccount">Ajout D'Utilisateur</h1>
</div>

<div class="d-flex flex-row justify-content-center">
  <div class="form-outline mb-4">
      <label class="form-label" for="form1Example13">Nom d'utilisateur</label>
        <input type="text" id="form1Example13" class="form-control form-control-lg active" [(ngModel)]="username" />
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px; "></div>
          <div class="form-notch-middle" style="width: 65px; "></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>
    </div>


      <div class="d-flex flex-row justify-content-center">
      <div class="form-outline mb-4">
        <label class="form-label" for="form1Example13">Nom de famille</label>
        <input type="text" id="form1Example13" class="form-control form-control-lg active" [(ngModel)]="nom" />
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px; "></div>
          <div class="form-notch-middle" style="width: 65px; "></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row justify-content-center">
      <div class="form-outline mb-4">
        <label class="form-label" for="form1Example13">Prenom</label>
        <input type="text" id="form1Example13" class="form-control form-control-lg active" [(ngModel)]="prenom" />
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px; "></div>
          <div class="form-notch-middle" style="width: 65px; "></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row justify-content-center">
      <div class="form-outline mb-4">
        <label class="form-label" for="form1Example13">Age</label>
        <input type="text" id="form1Example13" class="form-control form-control-lg active" [(ngModel)]="age" />
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px; "></div>
          <div class="form-notch-middle" style="width: 65px; "></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>
    </div>
  
  
<div class="d-flex flex-row justify-content-center">
  <button type="button" class="btn btn-primary" (click)="save()">
    Sauvegarder
  </button>
</div>
