/* You can add global styles to this file, and also import other style files 
Color scheme
#871528 red
#1C3B3D blue
#5CADA0 light blue
#DADAC9 white-orange
#D4A063 orange
*/
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    background-color: #DADAC9;
    }
         
   .navbar-custom {
    background-color: #871528;
}
 
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #26050b;
}
