.card{
    margin-top: 1rem;
    padding: 1rem;
    height: 22rem;
    width: 13rem;
}
.change-page:hover{
    cursor: pointer;
    background-color: #14213d !important;
    color: #fca311 !important;
}
.change-page{
    margin-top: 1rem;
}
.image-top{
    max-height: 15rem; 
} 
.card-title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
h5{
    text-align: center;
}
.card:hover h5{
    color: #fca311;
}
.card:hover{
    background-color: rgb(235, 233, 233) ;
}
.card-container{
    margin: auto;
}
.card-body{
    width: 10rem;
    text-align: center;
    margin: auto;
}
@media (max-width: 465px) {
    .card-body{
        width: 8rem;
        text-align: center;
        margin: auto;
    }
  }
@media (max-width: 385px) {
    .card-body{
        width: 6rem;
        text-align: center;
        margin: auto;
    } 
    .card-title{
        font-size: 1rem;
    }
}

.btn-primary {
    background-color: #5CADA0 !important;
}
.btn-primary:hover {
    background-color: #1C3B3D !important;
}

 .btn-primary:active{
    background-color: #1C3B3D !important;
}

.btn-primary:visited {
    background-color: #1C3B3D !important;
}

.btn-danger {
    background-color: #871528 !important;
}
.btn-danger:hover {
    background-color: #5e0f1c !important;
}

 .btn-danger:active{
    background-color: #5e0f1c !important;
}

.btn-danger:visited {
    background-color: #5e0f1c !important;
}